@model DemoMVC.Models.Person

<h2>Nhập thông tin</h2>

<form method="post">
    <div>
        <label>Họ tên: </label>
        <input type="text" name="Name" required />
    </div>
    <div>
        <label>Năm sinh: </label>
        <input type="number" name="BirthYear" required />
    </div>
    <button type="submit">Xem kết quả</button>
</form>
