@{
    ViewData["Title"] = "Person - Index";
}
<h2>Person / Index</h2>
<p>Xin chào! Đây là view Index của Person.</p>
<p>Tác giả: <strong>Vu Quoc Minh</strong> - MSSV: <strong>2121051527</strong></p>
